* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 10px;
  margin-top: 50px;
  margin: 2rem;
}

.top {
  display: flex;
  justify-content: space-between;
}

.leftbar {
  display: flex;
  align-content: right;
  justify-content: space-between;
  right: 0;
  gap: 5rem;
  width: 50%;
  padding-right: 2%;
}

.search {
  display: flex;
  background-color: #f4f4f4;
  border-radius: 12px;
  width: 60%;
  align-items: center;
  padding: 10px;
}

.search input[type='text'] {
  border: none;
  background-color: transparent;
  outline: none;
  color: black;
  width: 100%;
  height: 110%;
  font-size: 15px;
}

h1 {
  margin-top: 12px;
}

.dd {
  font-size: 32px;
  font-weight: bold;
  color: #83c727;
}

.add {
  background-color: #83c727;
  padding-bottom: 30px;
  display: flex;
  font-weight: bold;
  text-align: center;
  padding-top: 2px;
  border-radius: 12px;
  justify-items: center;
  width: 180px;
  border: none;
  height: 52px;
  padding: 22px;
  color: white;
  justify-content: space-between;
}

.thead  th{
  background-color: #EBF9DA;
  padding: 7px;
}

table {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

table tr td {
  padding: 20px;
  border-bottom: 1px solid;
}

h1 {
  color: #83c727;
  font-size: 32px;
}

.but1 {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border: none;
}

@media (max-width: 1000px) {
  .leftbar {
    gap: 2rem;
    width: 70%;
    padding-right: 0%;
  }
}

@media (max-width: 840px) {
  .leftbar {
    right: 0;
    gap: 1rem;
    width: 70%;
  }
  .but1 {
    padding: 10px 20px;
  }
}

@media (max-width: 660px) {
  .leftbar {
    display: block;
  }
  .top {
    display: block;
  }
  .search input[type='text'] {
    border: none;
    background-color: transparent;
    outline: none;
    color: black;
    border-radius: 12px;
  }
  .search {
    width: 100%;
  }
  .add {
    padding-top: 10%;
    background-color: #83c727;
    margin-top: 5px;
  }
}

/*trying out something*/

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}
.modal-content {
  border: 1px solid black;
  width: 30%;
  position: absolute;
  right: 30rem;
  top: 4rem;
  height: 60%;
  border-radius: 12px;
  background-color: aquamarine;
  box-shadow: inset;
}

.modal-content input {
  position: absolute;
  left: 10em;
  padding: 10px 10px;
  margin-top: 62px;
  border-radius: 8px;
  width: 50%;
  border: none;
}

.modal,
.overlay {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.close-modal {
  top: 108px;
  right: 620px;
  padding: 5px 10px;
  background-color: red;
}

.proPic {
  max-width: 50px;
  min-width: 50px;
  padding-top: 10px;
  font-weight: 900;
  color: #ebf3e1;
  height: 50px;
  background-color: rgba(49, 49, 49, 0.8);
  border-radius: 25px;
  overflow-wrap: hidden;
  border: 2px solid rgba(33, 32, 32, 0.8);
  float: left;
  cursor: pointer;
}
.ed {
  color: green;
  cursor: pointer;
}
.de {
  color: red;
  cursor: pointer;
}
.pag {
  width: 2%;
  padding: 5px;
  height: 2%;
  color: black;
  margin-right: 8px;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}
.pag:hover {
  background-color: yellowgreen;
  color: white;
}
.connection--error {
  text-align: center;
  font-weight: bold;
}
.connection--error .retry {
  color: #ebf3e1;
  font-weight: bold;
  width: 200px;
  height: 50px;
  font-size: 20px;
}
.delete {
  background-color: darkslategray;
  width: 400px;
  height: 200px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: center;
  padding: 32px;
  color: #ebf3e1;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;
  position: fixed;
}

.now {
  /* display: flex; */
  display: none;
}
.cancel {
  background-color: tomato;
  color: aliceblue;
  font-weight: bold;
  width: 150px;
  padding: 12px;
  font-size: 20px;
  height: 50px;
}
.yes {
  background-color: #83c727;
  color: aliceblue;
  font-weight: bold;
  width: 150px;
  padding: 12px;
  font-size: 20px;
  height: 50px;
}
.joy {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 720px) {
  .leftbar {
    right: 0;
    gap: 1rem;
    width: 70%;
  }
  .tables {
    width: 100%;
  }
  .but1 {
    padding: 10px 10px;
  }
  .proPic {
    width: 20px;
  }
  .delete {
    background-color: darkslategray;
    width: 80%;
    height: 200px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
    padding: 32px;
    color: #ebf3e1;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    position: absolute;
  }
  .container {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
  }
  .table-head {
    position: sticky;
    right: 0;
    z-index: 1;
    background-color: #ebf3e1;
  }
  .editz {
    position: sticky;
    right: 0;
    z-index: 1;
    background-color: #f4f4f4;
    margin-right: 12px;
  }
  .name-of {
    width: 230px;
    padding-right: 2px;
    overflow: hidden;
  }
  .leftbar {
    display: flex;
    width: 100%;
  }
  .leftbar .add {
    background-color: #83c727;
    display: flex;
    padding: 0;
    right: 0;
    text-align: center;
    gap: 0;
    width: 42px;
  }
  .add .ic {
    transform: scale(1, 1);
    padding-bottom: 0;
    zoom: 190%;
  }
  .add p {
    display: none;
  }
  .search {
    width: 400px;
  }
  .top h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 12px;
  }
  .top {
    margin-top: 100px;
    position: sticky;
    z-index: 1;
    top: 0;
  }
  .pag {
    width: 8%;
    padding: 5px;
    height: 2%;
    color: black;
    margin-right: 8px;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
  }
  .delete {
    background-color: darkslategray;
    width: 86%;
    height: 200px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
    padding: 32px;
    color: #ebf3e1;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3%;
    position: fixed;
    z-index: 9999;
  }
}

.scroller {
  overflow: auto;
}

.name-of {
  display: flex;
  gap: 12px;
}

.modal,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  /* Ensure this is high */
}

.ic {
  transform: scale(1.8, 1.8);
  zoom: 140%;
  padding-bottom: 8px;
}

.add p {
  font-size: 13px;
}
